@import "./../../../scss/variables";

button.icon-button.tools-icon-button {
  border: 1px solid $side-tools-icon-background-color;

  i {
    color: $side-tools-icon-background-color;
    font-size: $side-tools-icon-font-size;
    transition: $icon-button-trasition-time ease-in;
  }

  &:hover {
    background-color: $side-tools-icon-background-color;

    i {
      color: white;
    }
  }
}
