@import "./../../scss/variables";
@import "./../../scss/mixins";

.notes-container{
    .note{
        background-color: $aside-notes-icon-color-hover;
        border-radius: 2px;
        padding: 0.5rem;
        margin: 0.5rem;
    }
} 
