@import "./../../scss/variables";
@import "./../../scss/mixins";

.notes-container {
    .note {
        h4,
        p {
          color: #333;
        }
        background-color: white;
        border-radius: 2px;
        padding: 2rem;
        margin: 0.5rem;
        height: 190px;
        overflow: hidden;
    }
}
