@import "./../../scss/variables";

.property-view-container {

  background-color: white;
  height: $main-section-height;
  width: 100%;

  .property-view {
    margin: 70px auto 0;
    max-width: 250px;

    .property-search-list {
      input {
        width: 100%;
        border: 0;
        padding: 10px 0;

        &:focus {
          outline: 0;
        }
      }
    }
  }
}
