

.logo-container {
    //@extend %side-assets;
    right: $header-side-assets-center-offset;

    .logo {
      border-radius: $header-user-photo-border-radius;
      cursor: pointer;
      max-height: $header-user-photo-dimension;
      max-width: $header-user-photo-dimension;
      overflow: hidden;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }