@import "./../../scss/variables";

.header-section {
  background-color: $header-background-color;
  height: $header-height;
  z-index: $header-z-index;

  %side-assets {
    align-items: center;
    display: flex;
    height: $header-height;
    justify-content: center;
    position: relative;
  }
}
