@import "./../../scss/variables";
@import "./../../scss/mixins";
.navbar-section{
    .navbar,.navbar-default{
        background-color: transparent;
        border-color: transparent;
        button{
            background: transparent;
            border-color: transparent;
            color: $aside-notes-icon-color;
            &:hover{
                color: $aside-notes-icon-color-hover;
            }
        }
        .navbar-toggle{
            border-color: transparent;
            .icon-bar{
                background-color: $aside-notes-icon-color;
            }
        }
    }
}