@import "./../../scss/variables";

.aside-notes {
    background-color: $aside-notes-background-color;
    height: $main-section-height;
    overflow: auto;
    position: fixed;
    right: -100vw;
    //right: 0;
    top: 0px;
    transition: all 2s ;
}

.active {
    position: absolute;
    top: 0px;
    right: 0px;
}
