@import "./../../scss/variables";

.aside-notes {
    background-color: $aside-notes-background-color;
    height: $main-section-height;
    position: fixed;
    right: -100vw;
    top: 0;
    transition: all 2s ;
    width: 100%;
    overflow: auto;
}

.active-right{
    position: absolute;
    top: 0px;
    right: 0px;
}
