.app {
  display: flex;
  flex-direction: column-reverse;
  justify-content: stretch;
  width: 100%;
  height: $app-height;

  & > div,
  & > header,
  & > main {
    width: 100%;
  }

  &.container-fluid {
    padding: 0;
  }
}
.root {
  height: $app-height;
  display: flex;
  flex-direction: column-reverse;
}

.container-fluid {
  width: 100%;
}
